:root {
    --line-border-empty: #e0e0e0;
    --line-border-fill: #3498db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.progress_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 350px;
}

.progress_container::before {
    content: "";
    background-color: var(--line-border-empty);
    position:absolute;
    width: 350px;
    height: 4px;
    top: 50%;
    left: 0;
    /* transform: translateY(-50%); */
    margin-top: -2px;
    z-index: -1;


}
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    width: 0%;
    height: 4px;
    top: 50%;
    left: 0;
    margin-top: -2px;
    z-index: -1;
}

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
}
.circle.active{
    border-color: var(--line-border-fill);
}

.btn{
    background-color:var(--line-border-fill);
    color: #fff;
    border:none;
    border-radius: 6px;
    padding: 8px 20px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: none;
/* outline:3px solid pink; */
}
.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;    
}