:root {
  --line-box-empty: #e0e0e0;
  --line-box-full: #3498db;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;

}

.container{
 text-align: center;

}
.progress_container{
  display: flex;
  justify-content: space-between;
  
  width: 350px;
  margin-bottom: 30px;
  position: relative;


}
.progress{
  width: 100%;
  position:absolute;
  width: 4px;
  height: 350px;
  background-color: #fff;
}