*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

}
.container{
  display: flex;
  width: 90vw;
}
.panel{
  background-size: cover;
  background-position: center;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 5px;
  position: relative;
  transition: all .3s ease;

}
.panel h3{
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;

}
.panel.active{
  flex: 5;
  
  transition: opacity 0.3s ease-in;
}
.panel.active h3{
  opacity: 1;
}
@media(max-width:480px){
  .container{
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5){
    display: none;
  }
}