*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Muli",cans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow:hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 90vw;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    border-radius:50px;
    color: #fff;
    cursor:pointer;
    flex:0.5;
    margin:10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
}
.panel h3{
    font-size:24px;
    posision:absolute;
    bottom:20px;
    
}
